#title {
    font-style:italic;
    text-align:right;
}

.bold {
    font-weight:700;
}

.chart {
    height:300px;
}

.column {
    float:left;
    padding-bottom:40px;
    width:50%;
}

.dialog input,.dialog textarea {
    width:95%;
}

.dialog label {
    margin-top:.5em;
}

.dialog label,.dialog input {
    display:block;
}

.dialog,.ui-dialog-titlebar-close,.notify .ui-dialog-titlebar,table.hidden,td.hidden,form.hidden,div.hidden {
    display:none;
}

.jqplot-point-label {
    color:#222;
}

.login {
    box-shadow:0 4px 8px rgba(0,0,0,0.5);
}

.notify {
    box-shadow:0 4px 8px rgba(0,0,0,0.5);
    margin:20px;
}

.portlet {
    margin:0 1em 1em 0;
    padding:.3em;
}

.portlet-content {
    padding:.4em;
}

.portlet-header {
    margin-bottom:.5em;
    padding:.2em .3em;
    position:relative;
}

.portlet-placeholder {
    border:1px dotted #000;
    height:50px;
    margin:0 1em 1em 0;
}

.ui-icon-alert {
    float:left;
    margin:0 7px 20px 0;
}

.ui-icon-close {
    cursor:pointer;
    float:left;
    margin:0;
}

.ui-menu {
    cursor:pointer;
    font-weight:400;
    width:250px;
    z-index:100;
}

.ui-state-inactive {
    background:#eee 50% 50% repeat-x!important;
    border:1px solid #ccc!important;
    color:#000!important;
}

.ui-state-inactive:hover {
    background:#ddd 50% 50% repeat-x!important;
}

.ui-state-ok {
    background:#d0fcd2 50% 50% repeat-x!important;
    border:1px solid #10bf1c!important;
    color:#363636!important;
}

.ui-state-ok:hover {
    background:#baf9bd 50% 50% repeat-x!important;
}

.ui-state-error {
    background:#fef1ec 50% 50% repeat-x!important;
    border:1px solid #cd0a0a!important;
    color:#cd0a0a!important;
}

.ui-state-error:hover {
    background:#fde5da 50% 50% repeat-x!important;
}

.ui-tooltip {
    max-width:600px;
    width:600px;
}

.ui-tooltip-service {
    max-width:300px;
    width:300px;
}

body {
    font-family:"Trebuchet MS", Helvetica, Arial, Verdana, sans-serif;
    font-size:75%;
}

button.event {
    height:44px;
    margin:2px;
    width:180px;
    z-index:20;
}

button.flow {
    height:64px;
    margin:2px;
    width:180px;
}

button.flowService {
    font-size:80%!important;
    height:36px;
    margin:5px;
    width:130px;
    z-index:20;
}

button.hostname {
    margin:2px;
    width:180px;
    z-index:20;
}

button.report {
    margin:2px;
    width:200px;
}

button.service {
    margin:2px;
    width:110px;
}

canvas.flow {
    position:absolute;
    z-index:10;
}

div.floatLeft {
    float:left;
}

div.indent {
    margin:5px;
    text-indent:15px;
}

fieldset.service {
    float:left;
    margin-bottom:5px;
    text-align:center;
    width:210px;
}

h1 {
    margin:5px;
}

img.flow {
    border:0;
    height:32px;
    margin:0;
    width:32px;
}

img.menu {
    border:0;
    height:15px;
    margin-right:2px;
    width:15px;
}

input[readonly],input[readonly="readonly"] {
    background:#eee;
    border:0;
}

input[type=text]:focus {
    border-color:#23B1DB;
}

legend.center,td.center,div.center,h1.center,h2.center,h3.center {
    text-align:center;
}

pre {
    white-space:pre-wrap;
    width:95%;
    word-wrap:break-word;
}

table {
    border-collapse:collapse;
    margin:1em 0;
    width:100%;
}

table.jqplot-table-legend {
    border-collapse:inherit;
    width:100px;
}

td.width100 {
    text-align:center;
    width:100px;
}

td.width250 {
    text-align:center;
    width:250px;
}

td.head {
    border:1px solid #eee;
    padding:5px;
    white-space:nowrap;
    width:1px;
}

td.hostname {
    text-align:center;
    width:180px;
}

td.left,div.left {
    text-align:left;
}

td.right {
    text-align:right;
}

.ui-widget td {
    border:1px solid #eee;
    padding:5px;
}

.ui-widget-header td {
    text-align:center;
}

textarea.property {
    height:100px;
    width:500px;
}

tr.high:hover {
    background-color:#ffe;
}